<section class="section">
<form method="GET" action="/products/create">
    <span class="is-size-4"> Crear un nuevo producto </span>
    <button type="submit" class="button is-primary">Nuevo</button>
</form>
</section>

<div class="content">
    <ul>

        {{#each products}}
        <li class="is-flex">
            <span class="pr-4">{{ id }} - {{ name }}</span>
            <form class="pr-4" method="GET" action="/products/{{ id }}">
            <button class="button" type="submit">Detail</button>
            </form>
            <form class="pr-4" method="GET" action="/products/{{ id }}/edit">
            <button class="button" type="submit">Edit</button>
            </form>
            <form class="pr-4" method="POST" action="/products/{{ id }}?_method=DELETE">
            <button class="button" type="submit">Delete</button>
            </form>
        </li>
        {{/each}}

    </ul>
</div>
